/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
	height: 600px;
}

/*
#response-data{
	height:100px;
}

#results-table{

	overflow-y: scroll; /*vertical scroll

}*/

